.border {
    /* border: 1px solid red; */
    overflow: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
}

.texth1 h1 {
    color: rgb(175, 105, 161);
    font-size: 2em;
    padding-bottom: 20px;
    font-weight: normal;
    width: 1240px;
    margin: auto;
    padding-top: 20px;
}
.edit {
    /* border: 1px solid red; */
    width: 1240px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.edittop {
    /* border: 1px solid red; */
    width: 50%;
    /* display: flex; */
    /* margin: auto; */
    /* margin-top: 30px; */
}
.edittop h3 {
    color: rgb(102, 102, 102);
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 5px;
}
.editbuttom {
    border: 1px solid #dbe2e6;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 8px;
    padding-left: 20px;
    margin-right: 100px;
}
.editbuttom p {
    margin: 8px 0;
    /* border: 1px solid red; */
}
.editbuttom a {
    color: #2291c8;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    transition: 0.5s;
}
.editbuttom a:hover {
    border-bottom: 1px solid #f5921e;
    opacity: 0.9;
    color: #f5921e;
}
