.Main {
    width: 100%;
    height: 540px;
}
.maincard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px;
}
.card {
    border: 2px solid grey;
    width: 30%;
    border-radius: 16px;
    padding: 20px;
    height: 450px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 25px 35px 25px 0px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: translateY(-10px);
    transition: 1s;
}
.card:hover .cardtitle h1 {
    color: #00bae5;
    transition: 1s;
}
.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    transition: 1s;
}
.cardtitle h1 {
    margin: 15px 0;
    transition: 1s;
    color: #161616;
}
.cardtext {
    margin-bottom: 20px;
    transition: 1s;
}
.card button {
    border: 1px solid green;
    background: green;
    color: aliceblue;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 40% 0 40% 0;
    transition: 1s ease;
    margin-right: 30px;
}
.card button a {
    color: white;
    text-decoration: none;
}
.card button a:hover {
    color: green;
    text-decoration: none;
}
.card button:hover {
    border-radius: 0 40% 0 40%;
    background: none;
    color: #161616;
}

@media (max-width: 450px) {
    .Main {
        width: 100%;
    }
    .maincard {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card {
        width: 100%;
        margin-bottom: 35px;
    }
    .card:nth-child(1) {
        margin-top: -20px;
    }
    .buttonsmain {
        display: flex;
    }
}
