/* .Signup {
    width: 100%;
    height: 600px;
    background: blueviolet;
    display: flex;
    align-items: center;
}
.Signup .signreg {
    border: 2px solid grey;
    width: 350px;
    height: 400px;
    margin: auto;
    background: white;
    border-radius: 20px;
}
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #161616;
}
form {
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
}
select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
select:focus {
    outline: none;
}
select option {
    padding: 10px;
}
input {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-style: italic;
    color: #161616;
    font-weight: 700;
}
input:focus {
    outline: none;
    border: 2px solid green;
}
button {
    background: green;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    opacity: 0.9;
    background: none;
    color: #161616;
    border: 2px solid green;
    padding: 8px;
} */
